body {
    background-color: #000; /* Black background */
    background: 
        radial-gradient(circle at 20% 30%, #ff0000, #ff7f00 30%, transparent 50%),
        radial-gradient(circle at 80% 20%, #ff7f00, #ffea00 30%, transparent 50%),
        radial-gradient(circle at 30% 70%, #00ff00, #07b3f2 30%, transparent 50%),
        radial-gradient(circle at 70% 80%, #0000ff, #8a2be2 30%, transparent 50%),
        radial-gradient(circle at 40% 40%, #ff1493, #fe57aa 30%, transparent 50%);
    
    background-size: 300% 300%;
    background-blend-mode:hard-light ,difference, soft-light,luminosity;  
    height: 100vh;
    margin: 0;
    position: relative;
    animation: backgroundPulse 20s ease-in-out infinite;
}

@keyframes backgroundPulse {
    0% {
        background-position: 0% 0%, 100% 100%, 50% 50%, 20% 80%, 70% 10%;
    }
    25% {
        background-position: 60% 40%, 10% 90%, 70% 30%, 90% 20%, 40% 60%;
    }
    50% {
        background-position: 100% 0%, 0% 100%, 30% 70%, 80% 20%, 10% 50%;
    }
    75% {
        background-position: 40% 60%, 90% 10%, 20% 80%, 50% 30%, 60% 70%;
    }
    100% {
        background-position: 0% 0%, 100% 100%, 50% 50%, 20% 80%, 70% 10%;
    }
}



/* Fade-in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Apply fade-in effect */
.fade-in {
    animation: fadeIn 2s ease-in-out forwards;
}

