{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'danger' %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% elif category == 'success' %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% elif category == 'info' %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="mb-md-2 mt-md-2 pb-5">
    <img onmouseover="speak(this)" src="{{ url_for('static', filename='images/DeTalk.png') }}" alt="DeTalk Logo" class="img-fluid mx-auto d-block" style="width: 100px; border-radius: 50%;"> <br>
    
    <h2 onmouseover="speak(this)" class="fw-bold mb-2 text-uppercase">Login</h2>
    <p onmouseover="speak(this)" class="text-white-50 mb-5">Please enter your login and password</p>

    <form action="{{ url_for('login') }}" method="POST">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}

        <div class="form-outline form-white mb-4">
            <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label" onmouseover="speak(this)">
                    {{ form.email.label }}
                </label>
                <div class="col-sm-9">
                    {{ form.email(onmouseover="speak(this)", class="form-control form-control-lg", id="email", placeholder="Enter Your Email") }}
                </div>
            </div>
        
            <div class="form-group row">
                <label for="password" class="col-sm-3 col-form-label" onmouseover="speak(this)">
                    {{ form.password.label }}
                </label>
                <div class="col-sm-9">
                    {{ form.password(onmouseover="speak(this)", class="form-control form-control-lg", id="password", placeholder="Enter your password") }}
                </div>
            </div>
        </div>

        <button onmouseover="speak(this)" class="btn btn-outline-light btn-lg px-5" type="submit" aria-label="Login to DeTalk">Login</button>
    </form>
</div>

<div>
    <p onmouseover="speak(this)" class="mb-0">New to DeTalk? 
        <a href="{{ url_for('register') }}" class="text-white-50 fw-bold" onmouseover="speak(this)" aria-label="Register on DeTalk">Register</a>
    </p>
</div>

{% endblock %}
