{% extends 'base.html' %}
{% block title %}DeTalk{% endblock %}

{% block content %}
<div class="mb-2 md-5 mt-md-4 pb-2">
    <form id="registerForm" action="{{ url_for('register') }}" method="POST">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}

        <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
        <p class="text-white-50 ab-2">Create an Account</p>

        <!-- Display Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert alert-{{ messages[0][0] }} mt-3">
                    {{ messages[0][1] }}
                </div>
            {% endif %}
        {% endwith %}

        <div class="form-outline form-white mb-4">
            <div class="form-group row">
                <label for="firstname" class="col-sm-3 col-form-label">First Name</label>
                <div class="col-sm-9">
                    {{ form.first_name(class="form-control form-control-lg", id="firstname", placeholder="First Name") }}
                </div>
            </div>
        
            <div class="form-group row">
                <label for="lastname" class="col-sm-3 col-form-label">Last Name</label>
                <div class="col-sm-9">
                    {{ form.last_name(class="form-control form-control-lg", id="lastname", placeholder="Last Name") }}
                </div>
            </div>
        
            <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    {{ form.email(class="form-control form-control-lg", id="email", placeholder="abc@xyz.com") }}
                </div>
            </div>
        
            <div class="form-group row">
                <label for="username" class="col-sm-3 col-form-label">User Name</label>
                <div class="col-sm-9">
                    {{ form.username(class="form-control form-control-lg", id="username", placeholder="User Name") }}
                </div>
            </div>
        
            <div class="form-group row">
                <label for="password" class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    {{ form.password(class="form-control form-control-lg", id="password", placeholder="********") }}
                </div>
            </div>
        
            <div class="form-group row">
                <label for="IsBlind" class="col-sm-3 col-form-label">Are you blind?</label>
                <div class="col-sm-9">
                    <select name="IsBlind" id="IsBlind" class="form-control form-control-lg">
                        <option value="1" {% if form.IsBlind.data == '1' %}selected{% endif %}>Yes</option>
                        <option value="0" {% if form.IsBlind.data == '0' %}selected{% endif %}>No</option>
                    </select>
                </div>
            </div>
        </div>
        
        <button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>
    </form>
</div>

<div> 
    <p class="mb-0">Already have an account? <a href="{{url_for('login')}}" class="text-white-50 fw-bold">Login</a></p>
</div>

<script>
    // Save the 'IsBlind' value to session storage before form submission
    document.getElementById('registerForm').addEventListener('submit', function(event) {
        const isBlindValue = document.getElementById('IsBlind').value;
        sessionStorage.setItem('IsBlind', isBlindValue);
    });
</script>
{% endblock %}
